.clearfix,.wrapper,article,footer,header,hgroup,menu,nav,section{display:block}a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,figcaption,figure,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{margin:0;padding:0;border:0;vertical-align:baseline}a img,img{border:none;margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-weight:400;clear:both}ol,ul{list-style:none}blockquote{quotes:none}blockquote:after,blockquote:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}img{line-height:0;font-size:0;vertical-align:text-bottom;max-width:100%}.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}* html .clearfix{height:1%}a{outline:0}*{-webkit-box-sizing:border-box;box-sizing:border-box}body{font:16px soleil,Helvetica,Arial,sans-serif;line-height:1.4em;color:rgba(0,0,0,.7)}.wrapper{width:auto;max-width:800px;float:none;margin-right:auto;margin-left:auto;padding-left:30px;padding-right:30px}.signup-form .select:after,.signup-form .select:before,.wrapper:after,.wrapper:before{content:'';display:table}.wrapper:after{clear:both}header{background-color:#fff;color:#000;padding:2em;text-align:center}header h1{font-size:3em;line-height:1.4em;color:rgba(0,0,0,.1);margin-bottom:.2em}header h1 span{color:orange}header h2{color:rgba(0,0,0,.3)}.signup-form{margin-top:2em}.signup-form p{color:rgba(0,0,0,.5);margin-bottom:10px}.signup-form p.last{margin-bottom:30px}.signup-form input,.signup-form textarea{padding:10px;border:1px solid rgba(0,0,0,.1);border-radius:4px;-webkit-box-shadow:none;box-shadow:none;margin-bottom:30px;font-size:1em}.signup-form input[type=submit],.signup-form input[type=text],.signup-form textarea[type=submit],.signup-form textarea[type=text]{width:100%}.signup-form input[type=radio],.signup-form textarea[type=radio]{margin-right:10px}.signup-form input[type=submit],.signup-form textarea[type=submit]{padding:20px;background:orange;color:#fff}.signup-form textarea{width:100%;resize:none}.signup-form select{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:1px solid rgba(0,0,0,.1);border-radius:4px;background:url(../img/down-arrow.svg) 95% no-repeat #fff;background-size:10px;font-size:1em;padding:10px;width:100%}.signup-form .select{float:left;clear:none;text-align:inherit;width:31.33333%;margin-left:0;margin-right:3%;margin-bottom:30px}.signup-form .select:after,.signup-form .select:nth-child(3n+1){clear:both}.signup-form .select:nth-child(3n){margin-right:0;float:right}.signup-form h3{margin-bottom:15px}.signup-form h3 span{font-size:.8em;line-height:1.4em;color:rgba(0,0,0,.5)}.thanks-message{text-align:center;margin-top:60px}.thanks-message h1{margin-bottom:.5em}footer{color:rgba(0,0,0,.1);margin-bottom:3em;margin-top:1em;text-align:center}

header h1 {
  color: #999;
}

#flux_logo{position:relative;display:block;max-height:200px;margin: 0 auto;max-width:300px;width:50%;}
#flux_logo_text{position:relative;display:block;max-width:300px;margin: 0 auto;width:80%;margin-top:30px;}
#logo_text{fill:#231F20;}
#st0{fill:#231F20;stroke-width:0;} 
#st1{fill:#6399C0;stroke-width:0;} 
#st2{fill:#66539F;stroke-width:0;} 
#st3{fill:#48B9B0;stroke-width:0;} 
#st4{fill:#DBCF5C;stroke-width:0;} 
#st5{fill:#D4A761;stroke-width:0;} 
#st6{fill:#17A4B1;stroke-width:0;} 
#st7{fill:#1D4480;stroke-width:0;} 
#st8{fill:#65B450;stroke-width:0;} 
#st9{fill:#E1DA85;stroke-width:0;} 
#st10{fill:#E46D5C;stroke-width:0;} 
#st11{fill:#574967;stroke-width:0;} 
#st12{fill:#EA526F;stroke-width:0;} 
#st13{fill:#DA3834;stroke-width:0;} 
#st14{fill:#1493C7;stroke-width:0;} 
#st15{fill:#CA903B;stroke-width:0;} 
#st16{fill:#DAD15C;stroke-width:0;} 
#st17{fill:#68B2AF;stroke-width:0;} 
#st18{fill:#1B8873;stroke-width:0;} 
#st19{fill:#8CC277;stroke-width:0;} 
#st20{fill:#B33B76;stroke-width:0;} 
#st21{fill:#836F8D;stroke-width:0;} 
#st22{fill:#68B1B1;stroke-width:0;} 
#st23{fill:#765A8D;stroke-width:0;} 
#st24{fill:#B74074;stroke-width:0;}
