<!DOCTYPE html>
<html lang="en" ng-app='fluxApp'>
    <head>
        <meta charset="utf-8">
        <title>Flux - Upgrade Democracy</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="css/animations.css">

        <!-- If you don't use any of these blocks just remove unnecessary CSS files -->
        <!-- content -->
        <link rel="stylesheet" href="css/content-style.css">
        <!-- footer -->
        <link rel="stylesheet" href="css/footer-style.css">
        <!-- header -->
        <link rel="stylesheet" href="css/header-style.css">

        <!-- Eventually only styles below here should be included... -->
        <link rel='stylesheet' href='css/basscss.min.css'>
    </head>

    <body ng-controller='FluxController as flux'>
        <div class="page-wrapper">
          <!-- header-2 -->
          <header class="header-2">
          	<div class="container">
          	  <div class="row">
          	    <nav class="navbar col-sm-12" role="navigation">
          	      <div class="navbar-header">
          	        <button type="button" class="navbar-toggle"></button>
          	        <a class="brand" href="#">
          	         <img src="img/flux-mark.svg" width="70" height="70" alt="Flux Logo">Flux</a>
          	      </div>
          	      <div class="collapse navbar-collapse">
            	        <ul data-gumshoe class="nav pull-right">
                        <li><a data-scroll href="#why">Why</a></li>
                        <li><a data-scroll href="#what">What</a></li>
                        <li><a data-scroll href="#how">How</a></li>
                        <li><a data-scroll href="#who">Who</a></li>
                        <li><a data-scroll href="#features">Features</a></li>
                        <li><a data-scroll href="#membership">Become a member</a></li>
                        <!-- <li><a data-scroll href="#for-parties">For Minor Parties</a></li> -->
                        <!-- <li><a data-scroll href="#for-voters">For Voters</a></li> -->
            	        </ul>
          	      </div>
          	    </nav>
          	  </div>
          	</div>
          </header>
          <section class="header-2-sub bg-peter-river">
          	<div class="background">&nbsp;</div>
          	<div class="container">
          	  <div class="row">
          	    <div class="col-sm-8 col-sm-offset-2">
          	      <div class="hero-unit">
          	        <h1>The purpose of Flux is to give real democratic potential to every person.</h1>
                    <h3 class='h3'>Flux is an unregistered political party designed to create an accessible, productive, and above all, fair, democracy.</h3>
                    <h3 class='h4'>Party membership is free, easy, and open to all Australian voters. We are required to have 500 members before we can register.</h3>
                    <h3 class='h4'>If you would like to see politics disrupted, the best ways to help are to become a founding member and share Flux with your friends.</h3>
          	      </div>
          	      <div class="btns">
          	        <a class="btn btn-primary h3 p2" data-scroll href="#membership">Become a Founding Member</a>
                    <a class="btn btn-outline h3 p2" data-scroll href="#why">Why do we need Flux?</a>
          	      </div>
                  <div class='mt3'>
                    <span class='h3'>{{flux.members}} of 500 members registered</span>
                  </div>
          	    </div>
          	  </div>
          	</div>
          </section>
          <!-- content-31 -->
          <section class="content-31">
              <div class="container">
                <div id="why" class="row py3 mt3">
                  <div class="number">1</div>
                  <div class="col-sm-8 col-sm-offset-2">
                    <h3>Why do we need Flux?</h3>
                    <p>Our current system doesn't work well enough; politics gets in the way of policy. Flux is an incremental upgrade to democracy designed to redistribute political power, maximise participation, remove bad policy, and empower voters.</p>
                    <p>The Australian Parliament is based on exclusion and exclusivity and does not equip us with the right tools to solve modern problems to the best of our ability; Flux guarentees the best solutions will never be excluded. In order to solve problems that have never been solved before we need to try things that have never been tried before. Flux embodies this value, and facilitates it.</p>
                    <p>
                      We believe the best way forward is not to focus on individual solutions but to focus on how we arrive at those solutions, and how we maintain them over time.
                    </p>
                  </div>
                </div>
                <div id="what" class="row py3 mt3">
                  <div class="number">2</div>
                  <div class="col-sm-8 col-sm-offset-2">
                    <h3>What is Flux</h3>
                    <p>Flux, as a party, is a layer for the redistribution of political power. When a Flux candidate is elected they become a gateway for voters to directly influence parliament. Unlike other representatives, Flux candidates are not autonomous, and their votes in parliament are determined wholly by Flux participants.</p>
                    <p>
                      Flux, as a system, is a way to cooperate with fellow voters and distribute power in order to increase the amount of good legislation passed, and make passing bad legislation very expensive and difficult. The focus of Flux is not to be absolutely proportional, or give all voters an equal say on everything. Rather, Flux aims to solve particular problems by enabling those who are particularly well suited to solve that problem.
                    </p>
                  </div>
                </div>
                <div id="how" class="row py3 mt3">
                  <div class="number">3</div>
                  <div class="col-sm-8 col-sm-offset-2">
                    <h3>How does Flux work?</h3>
                    <p>Flux has many features that are build on fundamentals of economics and philosophy. By providing an open system (in which any voter can participate) we encourage healthy development of policy, the suggestion of new conjecture and ideas, and a culture of criticism necessary for a healthy democracy.</p>
                    <p>
                      Flux is designed to offer something to everyone. It does this by enabling specialization and so provides a platform for issue based politics, something that is not possible in the generalist Westminster system.
                      Furthermore, it allows projects of any length to be undertaken without being interrupted by the changing political landscape. Long term policy can be worked towards by dedicated invidivuals even if the timeframe is well beyond a term. Short term innovative policy, or updates to past policy can be undertaken with similar ease as needed, without requiring prior political interest. Provided the policy is of high quality, Flux is designed to make this as simple and painless as possible.
                    </p>
                    <p>
                      Neutrality and openess to alternate ideas are crucial to Flux operating as a platform that everyone can use, in the same way the Westminster system doesn't dictate which policies are acceptable. Flux has no policies of its own in order to protect the integrity of this platform.
                    </p>
                  </div>
                </div>
                <div id="who" class="row py3 mt3">
                  <div class="number">4</div>
                  <div class="col-sm-8 col-sm-offset-2">
                    <h3>Who is behind Flux?</h3>
                    <p>
                      We are a group of motivated Australian's passionate about democracy, technology, sovling real problems, and permissionless innovation. If you'd like to meet us, you can join our <a href='http://slack.voteflux.org'>Slack team</a>.
                    </p>
                    <p>
                      We do not believe the current system of governance is adequate for today's world, and we are determined to do something about it. We feel disenfranchised and do not identify with major political parties like the ALP, LNP, or Greens. We are particularly dissuaded by the way that every major political party has lost their integrity and become self-serving, instead of representing the interests of society.
                    </p>
                    <p>
                      We feel that in order to raise living standards, solve global problems, provide employment, lower crime, and solve all other social evils, we must embrace the best solution and best policy, even if we disagree with it. We must have policy backed by the best explanations, not the most voices.
                    </p>
                    <p>
                      If you feel as we feel, please consider becoming a founding member.
                    </p>
                    <p class='center'>
                      <a class="btn btn-primary p2" data-scroll href="#membership">Become a Founding Member</a>
                    </p>
                  </div>
                </div>
              </div>
          </section>
    			<!-- content-26 -->
    			<section class="content-26 bg-clouds" id='features'>
    			<div class="container">
    			  <div class="row">
    			    <div class="col-sm-8 col-sm-offset-2">
    			      <h3>Features of Flux</h3>
    			      <p class="lead">Flux is a system built on solid economic foundations, and offers a wide range of features that are not offered by canonical democracies.</p>
    			    </div>
    			  </div>
    			  <div class="row features">
    			    <div class="col-sm-3">
    			      <img src="img/features/noun_specialist.svg" alt="" width="100" height="100">
    			      <h6>Empower Specialists</h6>
                Politicians are middle men between specialists and policy, and by cutting them out of the picture we enable specialists to create the best policy they can, unmolested by external political interests.
    			    </div>
    			    <div class="col-sm-4 col-sm-offset-1">
    			      <img src="img/features/noun_trade.svg" alt="" width="100" height="100">
    			      <h6>Built in Progress Through Trade</h6>
                Trading resources is one of the main mechanics behind both the redistribution of wealth and growing prosperity around the globe. Flux introduces this mechanic to the political arena, enabling innovators and democratic entrupenurs to solve problems with minimal hinderance.
    			    </div>
    			    <div class="col-sm-3 col-sm-offset-1">
    			      <img src="img/features/noun_transparent.svg" alt="" width="78" height="100">
    			      <h6>Fully Transparent</h6>
                Flux doesn't have absolute control over the voting system, which is run on a distributed public network and is able to be verified by everyone, everywhere, constantly, and consistently.
    			    </div>
    			  </div>
    			  <div class="row features">
    			    <div class="col-sm-3">
    			      <img src="img/features/noun_backroom_deals.svg" alt="" width="100" height="100">
    			      <h6>Stops Backroom Deals (the right way)</h6>
                By embracing specialization Flux does away with the "one-person-for-all-issues" model, elimintating the potential and motivation for backroom deals.
    			    </div>
    			    <div class="col-sm-4 col-sm-offset-1">
    			      <img src="img/features/noun_high_quality_legislation.svg" alt="" width="100" height="100">
    			      <h6>Favours High Quality Legislation</h6>
                Specialists naturally produce better quality legislation than generalists (like politicians), and by introducing <a href="https://www.youtube.com/watch?v=cwx9fZOL81c">opportunity cost and comparitive advantage</a> for legislators we help only the best legislation rise to the surface.
    			    </div>
    			    <div class="col-sm-3 col-sm-offset-1">
    			      <img src="img/features/noun_voters.svg" alt="" width="78" height="100">
    			      <h6>Empower Voters</h6>
                Flux enables regular Australians to become fully involved in the political process, and to focus on the issues they care most about.
    			    </div>
    			  </div>
    			  <div class="row features">
    			    <div class="col-sm-3">
    			      <img src="img/features/noun_criticism_debate.svg" alt="" width="100" height="100">
    			      <h6>Encourages Criticism and Debate</h6>
                The ecosystem within Flux encourages a culture of criticism around new policy before it's enacted, and demands that policy options can withstand that criticism.
    			    </div>
    			    <div class="col-sm-4 col-sm-offset-1">
    			      <img src="img/features/noun_corruption.svg" alt="" width="100" height="100">
    			      <h6>Ends Corruption</h6>
                Under Flux, lobbiests wouldn't need to convince politicians, they would need to convince the people. In this way special interests become directly accountable to the community they affect, and can't elbow their way through.
              </div>
    			    <div class="col-sm-3 col-sm-offset-1">
    			      <img src="img/features/noun_conjecture.svg" alt="" width="78" height="100">
    			      <h6>Facilitates Conjecture</h6>
                Flux is like an arena for ideas. By ensuring the best ideas are heard we create an open culture where conjecture is shared and innovation is encouraged and supported.
    			    </div>
    			  </div>
    			</div>
    			</section>
    			<!-- content-37 -->
    			<section id="membership" class="content-37">
    				<div class="container">
    				  <div class="row">
    				    <div class="col-sm-10 col-sm-offset-1">
                  <div ng-show='!flux._showThanks'>
                    <h3 class='mt0'>Become a member</h3>
      				      <p>To become a founding member of Flux you must fill out the form below.</p>
      					    <p>Your details will be kept confidential and will only be used for party business.</p>
      					    <div class="" id='signup-form'>
                      <form class='sm-col-12' action="//docs.google.com/forms/d/1TFjmCDQgA-_EDflrh9RPI_Lywp9viF2eOdjrbU4s30Q/formResponse" method="post" target="response_iframe" onsubmit="submitted=true;" ng-submit='flux.memberSubmit()'>
                        <label>Your Name (as on the electoral roll)</label>
                        <input class='field block col-12 mb1' type="text" name="entry.1069132858">
                        <label>Are you on the Australian Electoral Role?</label>
                        <select class='field col-3 block' name='entry.485675243'>
                          <option value='No'>No</option>
                          <option value='Yes'>Yes</option>
                        </select>
                        <label>Your email address:</label>
                        <input class='field block col-12 mb1' type="text" name="entry.1201109565">
                        <label>Your residential address as on electoral role</label>
                        <textarea class='field block col-12 mb1' name="entry.1799101669" rows="5" cols="0"></textarea>
                        <label>
                          Your date of birth (required by AEC)
                        </label>
                        <div class="select-group">
                          <select class='field col-3 mb1' name="entry.1115890700_day" class="select">
                            <option value="">Day</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                          </select>
                          <select class='field col-3 mb1' name="entry.1115890700_month" class="select">
                            <option value="">Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                          </select>
                          <select class='field col-3 mb1' name="entry.1115890700_year" class="select">
                            <option value="">Year</option>
                            <option ng-repeat="i in _.range(2015, 1900, -1) track by $index" value="{{i}}">{{i}}</option>
                          </select>
                        </div>
                        <label>You contact number (we will SMS you before calling)</label>
                        <input class='block col-12 mb1 field' type="text" name="entry.134473684">
                        <label>Referred By (Optional) -- How did you hear about Flux?</label>
                        <input class='block col-12 mb1 field' type='text' name='entry.279410956'>
                        <div class='center'>
                          <input class='btn btn-primary p2 h3' type="submit" value="Help Shape The Future (Submit)" ng-click="flux.incrementMembers()">
                        </div>
                      </form>
      				      </div>
                  </div>
                  <div class="center" id='signup-thanks' ng-show='flux._showThanks'>
                    <h3 class='h2'>You're Awesome! Thanks</h3>
                    <p>Provided everything looks good with the Google form submission below, your membership has been submitted. The live graph should update in a few minutes. If there was something wrong with your submission you will need to fix it now, and submit the form again.</p>
                    <iframe class='block' name="response_iframe" style='width: 100%; height: 200px;'></iframe>
                    <h3 class='mt2'>While you're here, why not share us on Facebook or Twitter?</h3>
                  </div>
                  <div class="center h2 mt3" id='member-counter'>
                    {{flux.members}} of 500 members registered
                    <h4>Live Graph (delayed by a few minutes)</h4>
                    <iframe class='block' style="width:600px; height: 371px; margin: auto;" seamless="" frameborder="0" scrolling="yes" src="https://docs.google.com/spreadsheets/d/1oODt6m__XMuTT69nekt98ZY6Cl_cWpaQenMrjmLqDmo/pubchart?oid=53928827&amp;format=interactive"></iframe>
                  </div>
    				    </div>
    				  </div>
    				</div>
    			</section>
          <!-- footer-11 -->
    			<footer class="footer-11">
    				<div class="additional-links">
    				  <div class="container">
    				    <p class="lead"><b>{{flux.members}}</b> of 500 members registered</p>
    				    <!-- <a href="#">Terms &amp; Conditions</a> -->
    				    <!-- <a href="#">Privacy Policy</a> -->
    				    <!-- <a href="#">Advertise</a> -->
    				    <!-- <a href="#">Affiliate Program</a> -->
    				    <a data-scroll href="#contact">Contact Us</a>
    				  </div>
    				</div>
    			</footer>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/modernizr.custom.js"></script>
        <script src="js/page-transitions.js"></script>
        <script src="js/startup-kit.js"></script>
        <!-- Added post template -->
        <script src='js/lodash.min.js'></script>
        <script src='js/angular.min.js'></script>
        <script src='js/flux-ng.js'></script>
        <script src='js/smooth-scroll.min.js'></script>
        <script src='js/gumshoe.min.js'></script>
        <script type="text/javascript">
          var submitted=false;
          smoothScroll.init();
          gumshoe.init();
        </script>
    </body>
</html>
